<h1>Article details</h1>
<div>
  <div><strong>Title :</strong><%= @article.title %></div>
  <div><strong>Description :</strong><%= @article.description %></div>
</div>

<%= link_to "Home Page", articles_path %>