<% if flash[:notice] %>
  <div class="alert alert-success mt-5 mb-5" role="alert"><%= flash[:notice] %></div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-danger mt-5 mb-5" role="alert"><%= flash[:alert] %></div>
<% end %>